{% for post in site.data.agms %}
{% capture url %}
{% if post.actions.size > 0 %}
{{ post.actions[0].url }}
{% else %}
#actions
{% endif %}
{% endcapture %}
<div class="Chaos-Blog-Item">
  <div class="top">
    <div class="thumbnail">
      <img src="{{ post.image }}" alt="">

    </div>
    <div class="description">
      <div class="header-line">
        <h3><a href="{{ post.actions[0].url | default: '#map' | escape }}">{{ post.title }}</a></h3>
        <a href="{{ post.actions[0].url | default: '#map' | escape }}"><span class="Chaos-Button">Join</span></a>
      </div>
      <p>{{ post.description }}</p>
    </div>
  </div>
</div>
{% endfor %}
