{% if include.block.map %}
<iframe src="/actions" class="Chaos-Map" id="map"></iframe>
{% elsif include.block.embed.size > 0 %}
{{ include.block.embed | liquify }}
{% else %}
<div class="Chaos-Section">
  {% capture buttons %}
  {% for button in include.block.buttons %}
    {% if forloop.first %}<div class="Chaos-Flex-Line">{% endif %}
      <a {% if button.new_tab%}target="_blank"{% endif %} href="{{ button.target | liquify }}"><span class="Chaos-Button" {% if button.image.size > 0 %}style="display:flex;flex-direction:column;"{% endif %}>{% if button.image.size > 0 %}<img style="max-width:200px;box-shadow:none;" src="{{ button.image }}" alt="">{% endif %}<span  style="text-align:center;">{{button.text | liquify}}</span></span></a>
    {% if forloop.last  %}</div>{% endif %}
  {% endfor %}
  {% endcapture %}
  <div class="Chaos-Wrapper-Wide Chaos-Wrapper">
    {{ include.block.text | liquify | markdownify }}
    {{ buttons }}
  </div>
  {% if include.block.decoration and include.block.decoration != '' %}
  <div class="Chaos-Wrapper-Wide Chaos-Wrapper">
    {{ include.block.decoration | liquify | markdownify }}
  </div>
  {% endif %}
</div>
{% endif %}
