<div markdown="0">
  {% if include.limit %}
    {% assign limit = include.limit %}
  {% else %}
    {% assign limit = posts.size %}
  {% endif  %}
  {% if include.date_field %}
    {% assign date_field = include.date_field %}
  {% else %}
    {% assign date_field = 'date' %}
  {% endif %}
{% for post in posts limit:limit  %}
    {% capture this_year %}{{ post[date_field]| date: "%Y" }}{% endcapture %}
    {% capture this_month %}{{ post[date_field] | date: "%B" }}{% endcapture %}
    {% capture this_day %}{{ post[date_field] | date: "%d" }}{% endcapture %}
    {% capture next_year %}{{ post.previous[date_field] | date: "%Y" }}{% endcapture %}
    {% capture next_month %}{{ post.previous[date_field] | date: "%B" }}{% endcapture %}

    {% assign post_id = post.title | slugify  %}
    {% if post.url  %}{% assign url = post.url | relative_url  %}
    {% else %}{% assign url = "#" | append: post_id   %}{% endif %}

    {% if forloop.first %}
        {% comment %}
            <!-- Not including month and year at the top -->
            <h2 id="{{ this_year }}-ref">{{this_year}}</h2>
            <h3 id="{{ this_year }}-{{ this_month }}-ref">{{ this_month }}</h3>
        {% endcomment %}
    <div class="Chaos-Blog-List">
    {% endif %}

    <div
    class="Chaos-Blog-Item
    {% if include.accordian %}accordian{% endif %}
    {% if forloop.first %}first{%endif %}

    " id="{{ post_id }}-close">
        {% if include.accordian %}
          <input class="Chaos-Accordion-Toggle" type=checkbox id="{{post_id}}">
          <label for="{{post_id}}">
        {% endif %}
        <div class="top {% if include.alternate_direction %}{% cycle '','reverse' %}{% endif %}">
                {% if include.date!=false %}
                <div class="date">
                    <span class="day-number">{{ post[date_field] | date: "%e" }}</span>
                    <span class="month">{{ post[date_field] | date: "%b" }}</span>
                </div>
                {% endif %}
                {% if include.thumbnail and post.image.size > 1 %}
                <div class="thumbnail">
                  <a href="{{ url   }}"><img title="{{post.title}}"  src="{{ post.image  | relative_url  }}" /></a>
                </div>
                {% endif %}

                <div class="description" id="{{ post_id }}REMOVE">
                    <div class="header-line">
                      <h3><a href="{{ url }}">{{ post.title }}</a></h3>
                      {% if include.accordian %}
                      <a href="#{{ post_id }}-close" onclick="function(e){e.preventDefault();}">
                        <svg width="49" height="49"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 490">
                            <path d="M386.813 0L245 141.812 103.188 0 0 103.188 141.813 245 0 386.812l103.187 103.187L245 348.187 386.813 490 490 386.812 348.187 244.999 490 103.187z"></path>
                        </svg>
                      </a>
                      {% endif %}
                    </div>

                    {% if post.authors %}
                    <span>
                        {% for a in post.authors %}
                            {% if a.url %}<a href='{{ "/" | join: a.url | relative_url  }}'>{{ a.name }}</a>{% else %}{{a.name}}{% endif %}{% if forloop.last == false %},{% endif %}
                        {% endfor %}
                    </span>
                    {%endif%}
                    <div class="summary" >
                      {% if post.summary %}
                          <p>{{ post.summary }}</p>
                        {% elsif post.excerpt %}
                          <p>{{ post.excerpt }}</p>
                        {% elsif post.description %}
                          {% if include.accordian %}
                            <div class="snippet" >
                              {{ post.description | truncatewords : 15  | liquify | markdownify }}
                            </div>
                            <div class="full" >{{ post.description | liquify | markdownify }}</div>
                          {% else %}
                            <div>{{ post.description | liquify | markdownify }}</div>
                          {% endif %}
                        {% endif %}
                      </div>
                </div>
            </div>
            {% if include.accordian %}</label>{% endif %}
            {% if post.image.size > 0 and include.thumbnail!=true %}
            <a href="{{ post.url | relative_url  }}"><img src="{{ post.image  | relative_url  }}" /></a>
            {% endif %}
            <div style="width: 100%">
            {% if post.categories.size > 0 %}
                <span style="float: right;">Categories:
                {% for c in post.categories %}
                    <a href='{{ "/categories/" | join: c | relative_url }}'>{{ c }}</a>{% if forloop.last == false %},{% endif %}
                {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>


    {% if forloop.last %}
        </div>
    {% else %}
        {% if this_year != next_year %}
        </div>
        {% comment %}
        <h2 id="{{ next_year }}-ref">{{next_year}}</h2>
        <h3 id="{{ next_year }}-{{ next_month }}-ref">{{ next_month }}</h3>
        {% endcomment %}
        <div class="Chaos-Blog-List">
        {% else %}
            {% if this_month != next_month %}
            </div>
            {% comment %}
            <h3 id="{{ this_year }}-{{ next_month }}-ref">{{ next_month }}</h3>
            {% endcomment %}
            <div class="Chaos-Blog-List">
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
</div>
