<ul>
  {% assign collections = site.collections | where_exp:'collection','collection.output != false' %}
  {% for collection in collections %}
    {% assign docs = collection.docs | where_exp:'doc','doc.sitemap != false' %}
    <h2>{{ docs[0].collection }}</h2>
    {% for doc in docs %}
      <li><a href="{{ doc.url | replace:'/index.html','/' | absolute_url | xml_escape }}">{{ doc.title | default: doc.url }}</a></li>
    {% endfor %}
  {% endfor %}

  {% assign pages = site.html_pages | where_exp:'doc','doc.sitemap != false' | where_exp:'doc','doc.url != "/404.html"' %}
  <h2>Pages</h2>
  {% for page in pages %}
    <li><a href="{{ page.url | replace:'/index.html','/' | absolute_url | xml_escape }}">{{ page.title | default: page.url  }}</a></li>
  {% endfor %}

    <h2>Static Files</h2>
  {% assign static_files = site.static_files | where_exp:'page','page.sitemap != false' | where_exp:'page','page.name != "404.html"' %}
  {% for file in static_files %}
    <li>{{ file.path | replace:'/index.html','/' | absolute_url | xml_escape }}</li>
  {% endfor %}
</ul>