{% for t in include.data %}
{% capture minutes %}{{ t.start_date | default: t.date | date: "%M" }}{% endcapture %}
<div class="Chaos-Blog-Item Chaos-Timeline-Item" data-datetime="{{ t.start_date | date: "%s" }}">
  <div class="top ">
    <div class="date">
        <span class="day-number">{{ t.start_date | default: t.date | date: "%k" }}{% if minutes != "00" %} {{ minutes }}{% endif %}</span>
        <span class="month">{{ t.start_date | default: t.date | date: "%p" }}</span>
    </div>
    <div class="description">
      <div class="header-line">
        <h3><a href="{{ t.url }}">{{t.title}}</a></h3>
        <a href="{{ t.url }}"><span class="Chaos-Button">Join</span></a>
      </div>
      <address>{{ t.location.venue }}, {{t["location"]["address_lines"][0]}}, {{t["location"]["locality"]}}</address>
    </div>
  </div>
</div>
{% endfor %}
<script type="text/javascript">
  let actionsTimeline = document.getElementsByClassName('Chaos-Timeline-Item');
  console.log(actionsTimeline)
  for (let i = 0; i < actionsTimeline.length ; i++){
    var actionDate = actionsTimeline[i].getAttribute('data-datetime');
    console.log(actionDate)
    var now = new Date()
    console.log(actionDate < now)
    if (actionDate && actionDate < now){
      actionsTimeline[i].style.display = 'none';
    }
  }
</script>
